body {
  background-color: #141414;
}
/* NAVBAR STARTS */
nav {
  display: flex;
  background-color: #1f1e1e;
  justify-content: space-between;
}
.logo {
  align-self: center;
  width: 100%;
  color: whitesmoke;
  margin-left:100px;
}
.links {
	width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;

}
.link {
  list-style-type: none;
  border: 1px #1f1e1e solid;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #1c1c1b;
  color: whitesmoke;
  cursor: pointer;
}
.link:hover {
  animation: rainbow 1.5s infinite linear;
}

@keyframes rainbow {
  0% {
    filter: drop-shadow(0 0 5px red);
  }
  14% {
    filter: drop-shadow(0 0 5px orange);
  }
  28% {
    filter: drop-shadow(0 0 5px yellow);
  }
  42% {
    filter: drop-shadow(0 0 5px green);
  }
  57% {
    filter: drop-shadow(0 0 5px blue);
  }
  71% {
    filter: drop-shadow(0 0 5px indigo);
  }
  85% {
    filter: drop-shadow(0 0 5px violet);
  }
  100% {
    filter: drop-shadow(0 0 5px red);
  }
}
/* NAVBAR ENDS */
.contentHome {
  max-width: 55%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: whitesmoke;
  margin-top: 60px;
}
